*.out
*.exe
*.o
*.obj
.DS_Store
._*
.AppleDouble
.LSOverride
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.dSYM/
*~
.dotnet
.npm
.orca_term
.pip
.ssh
.vscode-server
.local
.bash_history
.bash_logout
.bashrc
.claude.json
.claude.json.tmp.273477.64bb94407cd0
.npmrc
.profile
.pydistutils.cfg
.sudo_as_admin_successful
.viminfo
.wget-hsts
Ubuntu64_Harmony_BearPi/
.cache
.claude
.config